.containerInfoIcon {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  display: flex;
  background-color: #eef4ed;
  cursor: pointer;
}

.infoIcon {
  font-size: 18px;
  color: #90e0ef;
}

.company {
  background-color: #134074;
}