.containerPlusIcon {
  background-color: #134074;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editIcon {
  font-size: 18px;
  color: #ee964b;
}

.editIcon.company {
  background-color: #8da9c4;
  color: #fff;
}
