.containerAddIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.addIcon {
  font-size: 18px;
  color: #ee964b;
}

.Allergens {
  font-size: large;
}

.Products {
  font-size: large;
}

.Company {
  background-color: #8da9c4;
  color: #fff;
  background-color: #134074;
}

.containerAddIcon:hover {
  cursor: pointer;
}
