.containerIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.containerTime {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  align-items: center;
}
.time {
  color: #d9d9d9;
  font-family: "Prompt", sans-serif;
  font-size: 14px;
  font-weight: 100;
}
